# macOS
.DS_Store
__MACOSX/

# Xcode user-specific files
xcuserdata/
*.xcuserstate

# Build artifacts
DerivedData/
.build/
build/

# Secrets / local config
*.plist

# SwiftData / SQLite
*.sqlite
*.sqlite-shm
*.sqlite-wal